
.container{

}
.login-container{
    width: 800px;
    height: auto;
    background: #fff;
    margin: 10px auto;
    display: flex;
}

.form-container{
    width: 100%;
    box-sizing: border-box;
    padding: 20px 0;
}

.logo-explain{
    font-size: 20px;
    font-weight: 700;
}

.sm-brand-container{
    display: none;
}

.button-container{
    float: right;
    padding: 20px 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px){
    .sm-brand-container{
        display: block;
    }
    .login-container{
        width: 90%;
        margin: 10% 5%;
        height: auto;
    }
    .brand-container{
        display: none;
    }
    .form-container{
        width: 100%;
    }
}